/* Sticky Footer */
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
footer.footer.main-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}
body {
	padding-bottom: 80px;
}
/* /END Sticky Footer*/

.container img {
    max-width: 100%;
}